@tailwind preflight;

h1,h2,h3,h4 {
  @apply .font-serif;
}

p, li {
  @apply .font-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
}



@tailwind components;
@tailwind utilities;

// Fucking hack because our order sucks
.hidden {
  display: none;
}